# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# Logs y temporales
# =========================
storage/*.log
storage/cache/

# =========================
# Dependencias (Composer)
# =========================
vendor/

# =========================
# Variables privadas
# =========================
.env
