# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# Logs y temporales
# =========================
storage/*.log
storage/cache/
storage/site_content.json

# =========================
# Dependencias (Composer)
# =========================
vendor/

# =========================
# Variables privadas
# =========================
.env
.env.*
.emp
.emp.*
*.pem
*.key

# Templates permitidos
!.env.example

hostinger_deploy
hostinger_deploy.pub
